.Carousal{
    display: flex;
    overflow-X: scroll;
}
.Carousal img{
    width: 100%;
}
.Navigator{
    display: flex;
    position: absolute;
    z-index: 2;
    width: 100%;
}
.Navigator div{
    background-color: white;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
}
.RightArrow{
    margin-left:auto;
}